@page "/movies"
@using Models

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

@if (_movieSummary.GetMovies().Count == 0)
{
    <h3>Loading...</h3>
}
else
{
    <table class="table table-striped table-bordered table-hover mt-5">
        <thead class="table-dark">
            <th></th>
            <th>Title</th>
            <th>Ohjaaja</th>
            <th>Julkaistu</th>
            <th>Pituus</th>
            <th>Arvio</th>
            <th>Genre</th>
            <th>Päänäyttelijät</th>
        </thead>

        <tbody>
            @foreach (Movie movie in _movieSummary.GetMovies())
            {
                <tr>
                    @* <td><img class="" width="140" src="@movie.Image" /></td> *@
                    <td><h3>@movie.Nimi </h3</td>
                    <td><strong>@movie.Ohjaaja</strong></td>
                    <td><strong>@movie.Julkaistu</strong></td>
                    <td><strong>@movie.Pituus minutes</strong></td>
                    <td><strong>@movie.Arvio</strong></td>
                    <td><strong>@movie.Genre</strong></td>
                    <td><strong>@movie.Päänäyttelijät</strong></td>
                </tr>
            }
        </tbody>
    </table>
}

@code
{
    private MovieSummary _movieSummary = new MovieSummary();
}
